<div class="atabs__contentItem adaptive_mobile_full atabs__contentItem_visible">
    <div class="add">
                                                <div class="bank__status">
<div class="bank__statusSlider bank_status">
<div class="bank__statusSlider__column bank__statusSlider__column_active">
    <div class="bank__statusSlider__label">General</div>
    <div class="bank__statusSlider__lamp bank__statusSlider__lamp_del">
        You are here                </div>
</div>
<div class="bank__statusSlider__column">
    <div class="bank__statusSlider__label">Verified</div>
    <div class="bank__statusSlider__lamp bank__statusSlider__lamp_del">
                        </div>
</div>
 <div class="bank__statusSlider__column">
    <div class="bank__statusSlider__label">Qualified</div>
    <div class="bank__statusSlider__lamp">
                        </div>
</div>
</div>

</div>                        <div class="account__title">
<h2 class="title">Upgrading to Verified account status</h2>
</div>
<div class="static compliance__verifyHelp">
<p>EXCOINCIAL Risk Management team is responsible for monitoring overall trading activity in accordance with AML/KYC rules.
You are welcome to upgrade your account to Verified and Qualified status if you are willing to avoid eventual verification procedure in the future.</p>
<div class="inlineCollapse">
<label class="inlineCollapse__label" for="collapse">Terms and conditions</label>
<input type="checkbox" id="collapse" class="inlineCollapse__check">
<div class="inlineCollapse__text">
<div class="ui-centered compliance__helpImportant">
<p>To verify your account, please contact the Excoincial Compliance dpt. at <a href="mailto:compliance@hitbtc.com">compliance@aaa.com</a>.</p>
</div>
<p> The email should be sent from the address linked to your Excoincial profile. Make sure your email contains the following:</p>

<ul>
<li>Personal information</li>
<li>Address</li>
<li>Bank account information (in case you want to deposit and withdraw fiat)</li>
<li>Supporting documents (color copies):
    <ul>
        <li>Identity Document (passport/ID card/driving license)</li>
        <li>Proof of residence</li>
        <li>Proof of bank account ownership</li>
    </ul>
</li>
</ul>
<br>

<h2 class="title title_small">1. Personal information</h2>

<p>Please include the following:</p>
<ul>
<li>Name</li>
<li>Surname</li>
<li>Date of birth</li>
<li>Country of birth</li>
</ul>

<p>Note: <br>The data should be correct and filled in English language as stated in your Identity document.</p>


<h2 class="title title_small">2. Address</h2>
<p>Please provide up-to-date information about your residential (Current) address and permanent address. Keep in mind that your permanent address should be the same as your
billing address used for official correspondence.</p>
<p>Please include the following:</p>
<ul>
<li>Country</li>
<li>City</li>
<li>Region (optional)</li>
<li>Postal Code</li>
<li>Street Address</li>
</ul>

<h2 class="title title_small">3. Bank account information</h2>

<p>Please include the following:</p>
<ul>
<li>Bank name</li>
<li>SWIFT/BIC code</li>
<li>IBAN/account number</li>
</ul>


<h2 class="title title_small">4. Supporting documents</h2>

<p>Make sure that your photos/scans meet the following requirements:</p>

<ul>
<li>Documents should be valid due to the issue date</li>
<li>Photos/scans of both sides of documents should be uploaded</li>
<li>Scanned images should be in color and in high resolution (at least 200 dpi)</li>
<li>Allowed formats: JPG, GIF, PNG or PDF</li>
<li>File size should be no more than 10 MB</li>
<li>Photos/scans should not be older than 3 months</li>
<li>Documents should be issued using characters of Latin alphabet or have Latin transliteration of main fields.</li>
</ul>

<p><b>Identity Document</b></p>

<p>Choose one of the following options:</p>
<ul>
<li>National ID card (both sides) or national passport (double page)</li>
<li>International passport (double page)</li>
<li>Driving license (both sides).</li>
<li>Please note that we accept a driving license as proof of your identity only if it is a plastic card, and all the information in it is provided with Latin
    transliteration.
</li>
</ul>


<p><b>Proof of residence</b></p>

<p>Choose one of the following options:</p>

<ul>
<li>Utility bill (except for mobile phone, satellite/cable TV or printed Internet bills)</li>
<li>Electricity bill</li>
<li>Bank statement</li>
<li>Tax return/council tax</li>
<li>Other documents with an exception of electronic bills/statements, online screenshots, mobile phone bills or credit card statements.</li>
</ul>

<p>Note:<br>If you only have online utility bill or electricity bill, then you may provide it following such obligatory requirements:</p>

<ul>
<li>Upload the full document (all pages) in PDF format.</li>
<li>Make a screenshot of the website where you make your payments. The screenshot should contain an open document which you have provided to us. On your screenshot, we
    must clearly see the website URL
</li>
</ul>

<p><b>Proof of bank account ownership</b></p>
<p>Choose one of the following options:</p>

<ul>
<li>Bank account statement</li>
<li>Original letter from the bank</li>
</ul>

<p>Note:<br>Screenshots and/or electronic documents are not accepted, this document should be paper-based and drafted on original bank letterhead.</p>
<div class="ui-centered">
<p class="compliance__warning">It might take from 3 to 5 business days to get your account verified, if no additional information is required. However, please note that
    once submitted, your request is placed in a queue and is processed accordingly, which means the verification time might vary depending on the overall number of the
    verification requests.</p>
<p>In case you experience any issues, please contact our <a href="&lt;?php echo $this-&gt;url([], 'userSupport') ?&gt;">Support team</a>.</p>
</div>
</div>
</div>


<div class="account__title">
<h2 class="title">Upgrading to PRO account status</h2>
</div>
<p>Set up a PRO account at a partner exchange <a href="https://bequant.io">bequant.io</a> and benefit from the unique service, designed for Institutional and Professional traders, provided by our UK based partner&nbsp;Bequant Technologies.</p>
<p>The account holders will be able to access array of value added services:</p>

<h2 class="title title_small">Why upgrade to a PRO account?</h2>
<ul>
<li>Same liquidity as on Excoincial</li>
<li>Seamless online KYC and document verification process</li>
<li>Dedicated professional account manager with FSA qualifications based in London, UK or Malta</li>
<li>No limits for deposits or withdrawals</li>
<li>Block OTC coin &lt;&gt; fiat trades from the same account, acting as a clearing broker to avoid any counterparty risk</li>
</ul>
<p>To qualify you need to have a balance of 100 BTC equivalent or generate over 1000 BTC in turnover per month.</p>
<p>INDIVIDUAL PRO – beside mobile and email verification you will need to submit and verify your ID and proof of address. This should not take more than an hour. </p>
<p>BUSINESS– we will require full verification of Directors and UBOs and all corporate documents and forms. The approval process typically takes 2-3 business days. </p>
<p>To apply for PRO status please register at <a href="https://bequant.io">bequant.io</a> and go to account verification page to get approved and once the process is done you will be contacted by a dedicated account manager.</p>

</div>
</div>    </div>
