.atabs__contentItem {
  position: relative;
}
.add {
  position: relative;
  color: #ddd;
  line-height: 20px;
}
.bank__status {
  width: 100%;
  padding-bottom: 20px;
  line-height: 20px;
  border-radius: 5px;
}
.bank__statusSlider {
  font-size: 0;
}
.bank__statusSlider__column {
  font-size: 24px;
  display: inline-block;
  width: 33%;
  width: 33.33%;
  vertical-align: top;
  text-align: center;
}
.bank__statusSlider__column_active .bank__statusSlider__label {
  font-weight: bold;
}
.bank__statusSlider__label {
  text-transform: uppercase;
  margin: 1em 0 1em 0;
  font-size: 20px;
  color: #ddd;
}
.bank__statusSlider__column_active .bank__statusSlider__lamp {
  background-color: #71c15b;
  color: #ddd;
  height: 20%;
}
.bank__statusSlider__lamp {
  font-size: 10px;
  background-color: #289ac2;
  color: #ddd;
  position: relative;
  height: 20px;
}
.bank__statusSlider__column_active ~ .bank__statusSlider__column .bank__statusSlider__lamp {
  background-color: #e1e3ed;
}
.account__title {
  text-align: center;
}
.account__title .title {
  font-size: 16px;
  margin: 23px 0;
}
.title {
  position: relative;
  color: #ddd;
  font-weight: bold;
  z-index: 3;
  font-size: 20px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  // font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.atabs_settings .static {
  margin-top: 30px;
}
.static {
  line-height: 20px;
  color: #ddd;
  margin: 0 0 50px 0;
  padding: 10px 0 0 0;
}
.static p {
  margin-bottom: 20px;
}
p {
  margin: 0 0 10px;
}
.inlineCollapse__label {
  color: #289ac2;
  border-bottom: 1px dashed #289ac2;
  cursor: pointer;
}
.inlineCollapse__check {
  display: none;
}
input[type="checkbox" i] {
  margin: 3px 3px 3px 4px;
}
.inlineCollapse__text {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height .3s ease;
}
.ui-centered {
  text-align: center;
}
.static a {
  text-decoration: underline;
  color: #289ac2;
}
a {
  color: #289ac2;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.compliance__verifyHelp {
  font-size: 16px!important;
}
