<div class = "row">
  <div class="col-sm-3 ui-clearfix security-container">
    <div class="change-password-container">
      <div class="panel panel-primary">
        <div class="panel-body">
          <form ng-submit="signup()" role="form" class="ng-pristine ng-valid">
            <h5>Password</h5>
            <hr>
            <label ng-bind="registerError" style="color: red;width: 100%;text-align: center;" class="ng-binding"></label>
            <p>change your account password</p>
            <div class="form-group" ng-show="registerForm">
              <label for="currentpassword">Current Password</label>
              <input type="password" id="currentpassword" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="curpassword" placeholder="" ng-model="user.password" ng-value="password">
            </div>
            <div class="form-group" ng-show="registerForm">
              <label for="newpassword">New Password</label>
              <input type="password" id="newpassword" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="newpassword" placeholder="" ng-model="user.password" ng-value="password">
            </div>
            <div class="form-group" ng-show="registerForm">
              <!--<label for="verifypass">Verify Password</label>-->
              <label>Confirm Password</label>
              <input type="password" id="confirmpass" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="verifypass" placeholder="" ng-model="user.vpassword" ng-value="vpassword">
            </div>
            <div class="form-group text-center">
              <input type="submit" name="submit" value="Save" class="btn-main" ng-show="registerForm">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="auto-logout-container">
      <div class="panel panel-primary">
        <div class="panel-body">
          <form ng-submit="signup()" role="form" class="ng-pristine ng-valid">
            <h5>Automatic Logout</h5>
            <hr>
            <div class="form-group" ng-show="registerForm">
              <label for="states">Select your State</label>
                <select id="states" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="state" ng-value="state" ng-model="user.state">
                  <option value="auto-never">Never</option>
                  <option value="auto-30">30min</option>
                  <option value="auto-1h">1hour</option>
                  <option value="auto-8h">8hours</option>
                  <option value="auto-1d">1day</option>
                  <option value="auto-7d">7days</option>
                </select>
            </div>
            <div class="form-group text-center auto-button-container">
              <input id="auto-save" type="submit" name="submit" value="Save" class="btn-main" ng-show="registerForm">
              <input id="term-all-sessions" type="submit" name="submit" value="Terminate all sessions" class="btn-main" ng-show="registerForm">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9 ui-fl ui-clearfix activityboard">
    <h5>Active Session</h5>
    <div class="sessionboard">
      <table>
        <tbody>
        <tr>
          <td>
            <img src="assets/img/icons/desktop.png">
          </td>
          <td>
            <p>
              Desktop&nbsp;&nbsp;&nbsp;<span>●</span>&nbsp;&nbsp;&nbsp;Phnom Penh, Cambodia
            </p>
            <p>
              Chrome 68.0&nbsp;&nbsp;&nbsp;<span>●</span>&nbsp;&nbsp;&nbsp;August 16, 2018 08:07
            </p>
          </td>
          <td>
            <p>IP 42.115.20.247</p>
          </td>
          <td>
            <img id="logout" src="assets/img/icons/logout.png">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <h5>Recently Activity</h5>
    <div class="auth_board">
      <table class="common-table" id="activityTable">
        <thead>
          <th style="width: 14%;">
            Date(UTC)
          </th>
          <th style="width: 28%;">
            Event
          </th>
          <th style="width: 9%;">
            Device
          </th>
          <th style="width: 11%;">
            Browser
          </th>
          <th  style="width: 15%;">
            Operation System
          </th>
          <th style="width: 15%;">
            IP
          </th>
          <th style="width: 8%;">
            Address
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let record of recentlyActivity">
            <td>{{record.date}}</td>
            <td>{{record.event}}</td>
            <td>{{record.device}}</td>
            <td>{{record.browser}}</td>
            <td>{{record.operationSystem}}</td>
            <td>{{record.IP}}</td>
            <td>{{record.address}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--<div class="example-header">-->
      <!--<mat-form-field>-->
        <!--<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">-->
      <!--</mat-form-field>-->
    <!--</div>-->

    <!--<div class="example-container mat-elevation-z8">-->

      <!--<mat-table [dataSource]="dataSource" matSort>-->

        <!--&lt;!&ndash; ID Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="id">-->
          <!--<mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>-->
          <!--<mat-cell *matCellDef="let row of dataSource"> {{row.date}} </mat-cell>-->
        <!--</ng-container>-->

        <!--&lt;!&ndash; Progress Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="progress">-->
          <!--<mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>-->
          <!--<mat-cell *matCellDef="let row of dataSource"> {{row.event}}% </mat-cell>-->
        <!--</ng-container>-->

        <!--&lt;!&ndash; Name Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="name">-->
          <!--<mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>-->
          <!--<mat-cell *matCellDef="let row of dataSource"> {{row.device}} </mat-cell>-->
        <!--</ng-container>-->

        <!--&lt;!&ndash; Color Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="color">-->
          <!--<mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>-->
          <!--<mat-cell *matCellDef="let row of dataSource" [style.color]="row.browser"> {{row.color}} </mat-cell>-->
        <!--</ng-container>-->

        <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
        <!--<mat-row *matRowDef="let row of dataSource; columns: displayedColumns;">-->
        <!--</mat-row>-->
      <!--</mat-table>-->

      <!--<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
    <!--</div>-->


    <!-- Copyright 2018 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license -->
  </div>
</div>

