div.change-password-container, .auto-logout-container{
  //width: 780px;
  margin: 0px;
  font-size: 14px;
}

.form-control{
  background: #ddd;
}

div.auto-logout-container{
  padding-top: 30px;
}

div.security-container{
  border-right: 1px solid #27aae1;
  padding: 0px 15px 15px 15px;
}

.form-control{
  height: calc(1.85rem + 2px);
  padding: 0.175rem 0.75rem;
}

div.panel-body{
  font-family: inherit;
  background-color: #2f3340;
  color: #ddd;
  padding: 0px 15px 15px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.activityboard{
  padding: 0px 30px 15px 30px;
  font-size: 14px;
  color: #ddd;
}

.sessionboard{
  background: #2f3340;
  border: 1px solid #27aae1;
  padding: 7px 12px;
  margin-bottom: 20px;
}

.sessionboard p{
  margin: 0px 0px 0px 20px;
  padding: 0px;
}

.sessionboard img{
  width: 50px;
  height: 50px;
}

.sessionboard table{
  width: 100%;
}

#logout{
  width: 35px;
  height: 35px;
  float: right;
}

.panel-body h5{
  text-align: center;
  padding-top: 0px;
  color: #ddd;
}

.panel-body hr{
  background: #27aae1;
}

.text-center p{
  padding-top: 10px;
}

.text-center input, button{
  margin-top: 0px;
  padding-top: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  //background: linear-gradient(to top, #262362 0%, #27aae1 100%);
  background: #27aae1;
  color: #ddd;
  width: 80%;
  height: 44px;
  font-weight: bold;
  font-size: 15px;
}

.text-center #auto-save{
  margin-top: 0px;
  margin-left: 0px;
  width: 20%;
}

.text-center #term-all-sessions{
  margin-top: 0px;
  margin-left: 10px;
  width: 70%;
}

table#activityTable {
  width: 100%;
  font-size : 15px;
  text-align: left;
}

.auth_board#activityTable thead{
  color: #ddd;
  border: 1px solid #27aae1;
  //border-bottom: 1px solid #27aae1!important;
}

#activityTable{
  color: rgba(255,255,255,.8);
  border: 1px solid #27aae1;
  padding: 2px;

  tr {
    border: 1px solid #27aae1;
    padding: 2px;
  }

  td{
    border: 1px solid #27aae1;
    padding: 7px;
  }

  th{
    border: 1px solid #27aae1;
    padding: 7px;
  }
}


