.col-sm-8 {
  margin-left: auto;
  margin-right: auto;
}
.title {
  position: relative;
  color: #ddd;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 14px;
  padding-left: 50px;
  padding-top: 50px;
}
.form_profile__email-label {
  font-size: 16px;
  color: #ddd;
  font-weight: normal;
}
.block_leftContent {
  text-align: left;
  min-height: 300px;
  font: 14px Verdana, Arial, sans-serif;
  color:#ddd;
  margin-left: 50px!important;
}
// .block_rounded {
//   border-radius: 5px;
// }
.block {
  position: relative;
  padding: 15px 15px 0;
  margin: 50px 0 15px 0;
  font-size: 12px;
  word-wrap: break-word;
}
.atabs__wrap>div, .atabs__wrap>input {
  display: none;
  text-align: left;
  min-height: 150px;
}
.form_profile__change {
  position: absolute;
  top: 9px;
  right: 15px;
  color: #27aae1;
  font-weight: normal;
  cursor: pointer;
}
.form_profile input {
  padding: 8px 7px;
  margin-top: 0 !important;
}

.form__error {
  position: relative;
  margin: 0 0 15px 0;
  display: none;
}
.form__errorMessage {
  color: red;
}
.form_profile .form__row {
  margin-bottom: 20px;
  padding-top:30px;
}
.form__row {
  position: relative;
  margin: 0 0 6px 0;
}
.settings-inout__label {
  margin-bottom: 4px;
  color: #ddd;
  display: inline-block;
}
.link {
  outline: 0;
  position: relative;
}
a {
  color: #289ac2;
}
.form_pass .form__field {
  width: 100%;
}
.form__field {
  position: relative;
  display: block;
  width: 50%;
}
.ui-fr {
  float: right !important;
}
* {
  box-sizing: border-box;
}
.field:disabled {
  opacity: .5;
}
.field {
  position: relative;
  width: 100%;
  border: 1px solid #cccfdd;
  padding: 6px 7px;
  background: transparent;
  font: 12px Verdana, Arial, sans-serif;
  color: #ddd;
  box-sizing: border-box;
  border-radius: 5px;
}
.form_profile .form__row {
  margin-bottom: 20px;
}
.selector {
  position: relative;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form__row {
  position: relative;
  margin: 0 0 6px 0;
}
.selector__field {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 0;
  height: 0;
  opacity: 0;
}

.form_pass .form__row:last-child {
  padding-right: 3px;
  padding-top: 50px;
}
.form__row {
  position: relative;
  margin: 0 0 6px 0;
}
.form_profile__passwordField {
  width: 80%;
}
.field_text-small {
  font-size: 12px;
}
.form_profile .form_profile__button {
  height: 32px;
  width: 19%;
  margin-left: 0;
}
.button {
  background-color: #27aae1;
  border: 0;
  color: #ddd;
  cursor: pointer;
  display: inline-block;
  font: 12px Verdana, Arial, sans-serif;
  outline: 0;
  padding: 6px 13px;
  position: relative;
  text-decoration: none !important;
  vertical-align: middle;
  transition: background .2s ease;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button:hover{
  background: #4d74dd;
}
.col-sm-8 {
  border: 1px solid #27aae1;
  border-radius: 5px;
  min-height: 500px;
}
