<div class="col-sm-8  col-xs-12 ui-fl ui-clearfix">
    <div class="title title_small">Profile&nbsp;&nbsp;<span class="form_profile__email-label">john.doe@gmail.com</span></div>
    <div class="block block_rounded block_leftContent">
        <form class="form form_pass form_profile" data-block="form_profile" method="POST" action="/settings/save-profile">

            <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
            <input style="display:none" type="text" name="fakeusernameremembered">
            <input style="display:none" type="password" name="fakepasswordremembered">
            <!-- the end -->

            <div class="form__error form_profile__error">
                <div class="form__errorMessage form_profile__errorMessage"></div>
            </div>


            <div class="form__row ui-clearfix">
                <span class="settings-inout__label">Username (used on <a target="_blank" href="" class="link">Exconcial.com</a>)</span>
                <div class="form__field ui-fr">
                    <input class="field field_text-small form_profile__disabled" name="username" type="text" value="r.sothear2018" disabled="">
                    <span class="form_profile__change" (click)="change()">Change</span>
                </div>
            </div>

            <div class="form__row ui-clearfix">
                <span class="settings-inout__label">Enter your password to confirm</span>
                <div class="form__field ui-fr">
                    <input class="field adaptive__form__field field_text-small ui-fl form_profile__passwordField" name="password" type="password">
                    <button class="button button_blue adaptive__button ui-fr form_profile__button" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
