<div class="col-xs-12">
    <div class="title title_small">Your API keys</div>



    <div class="block block_rounded block_padding-bottom block_apikeys form_new " data-block="table_apikeys" data-add_url="/settings/add-api-key" data-remove_url="/settings/remove-api-key" data-activate_url="/settings/activate-api-key" data-revoke_url="/settings/revoke-api-key" data-change_url="/settings/change-api-key" data-send_secret_url="/send-api-secret">


        <div class="block__text block__text_large">
            <div class="block__textRules">
                <p>The Excoincial API provides access to market data and trading operations.</p>

                <p>For more information, please refer to <a class="link_lightBlue" target="_blank" href="" title="Excoincial API
documentation">Excoincial API documentation</a>.</p>
            </div>
        </div>
        <div class="adaptive__tableContainer">

        <table class="table table_apikeys__table">
            <thead class="table__head">
            <tr class="table__row">
                <td class="table__cell table__cell_apikey table__data_bold table__cell_centered" rowspan="2">Keys</td>
                <td class="table__cell table__cell_apikey table__data_bold table__cell_centered" rowspan="2">Status</td>
                <td class="table__cell table__cell_apikey table__data_bold table__cell_centered" rowspan="2" width="60px">Last use (UTC)
                </td>
                <td class="table__cell table__cell_apikey table__data_bold table__cell_centered" colspan="4">Access Rights</td>
                <td class="table__cell table__cell_apikey table__data_bold table__cell_centered" rowspan="2">Del</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell table__cell_apikey" width="92px">
                    Order book, History, <span class="nowrap">Trading balance</span>                    </td>
                <td class="table__cell table__cell_apikey" width="92px">
                    Place/cancel orders                    </td>
                <td class="table__cell table__cell_apikey" width="92px">
                    Payment information                    </td>
                <td class="table__cell table__cell_apikey" width="92px">
                    Withdraw cryptocurrencies                    </td>
            </tr>
            </thead>
            <tbody class="table__body table_apikeys__tbody">
                                                        <tr class="table__row table_apikeys__row selenium__api_key_row " data-id="773783" data-public_key="382b8506efbeb7695012ecfbbe654b5c" data-secret_key="b595ea82b11889230d452f2a2a08b1ef" data-is_active="1">
<td class="table__cell table__cell_apikey">
    <span class="nowrap"><span class="apikey_title">API</span><span class="apikeyValue">382b8506efbeb7695012ecfbbe654b5c</span></span><br>
    <!-- <div class="apikey_qr_code">
        <a class="table__apiKeys__sendSecret" data-id="773783" href="#">show secret key</a>
    </div> -->
</td>

<td class="table__cell table__cell_apikey table__cell_action">
    <button class="button_apikeyActivate revoked" (click)="change_status()">
        <span class="active table_apikeys__activate selenium__activate_api_key">On</span>
        <span class="revoked table_apikeys__revoke selenium__revoke_api_key">Off</span>
    </button>
</td>


<td class="table__cell table__cell_apikey table__cell_centered table__cell_apiKeys_lastUse">
    Never    </td>

    <td class="table__cell table__cell_apikey table__cell_centered">
            <label class="checkbox">
        <input class="checkbox__field" type="checkbox" name="mask_15" value="0" autocomplete="off">
        <div class="checkbox__icon selenium__api_key_perm_checkbox"></div>
    </label>

    <!-- <div class="form__notice table_apiKey__confirmNotice" style="display: none">
        <div class="table_apiKey__confirmMessage selenium__api_key_successMessage"></div>
    </div> -->
</td>
    <td class="table__cell table__cell_apikey table__cell_centered">
            <label class="checkbox">
        <input class="checkbox__field" type="checkbox" name="mask_48" value="0" autocomplete="off">
        <div class="checkbox__icon selenium__api_key_perm_checkbox"></div>
    </label>

    <!-- <div class="form__notice table_apiKey__confirmNotice" style="display: none">
        <div class="table_apiKey__confirmMessage selenium__api_key_successMessage"></div>
    </div> -->
</td>
    <td class="table__cell table__cell_apikey table__cell_centered">
            <label class="checkbox">
        <input class="checkbox__field" type="checkbox" name="mask_1985" value="0" autocomplete="off">
        <div class="checkbox__icon selenium__api_key_perm_checkbox"></div>
    </label>

    <!-- <div class="form__notice table_apiKey__confirmNotice" style="display: none">
        <div class="table_apiKey__confirmMessage selenium__api_key_successMessage"></div>
    </div> -->
</td>
    <td class="table__cell table__cell_apikey table__cell_centered">
            <label class="checkbox">
        <input class="checkbox__field" type="checkbox" name="mask_2048" value="0" autocomplete="off">
        <div class="checkbox__icon selenium__api_key_perm_checkbox"></div>
    </label>

    <!-- <div class="form__notice table_apiKey__confirmNotice" style="display: none">
        <div class="table_apiKey__confirmMessage selenium__api_key_successMessage"></div>
    </div> -->
</td>

<td class="table__cell table__cell_apikey table__cell_centered">
    <i class="fa fa-trash-o" style="font-size:24px"></i>
</td>
</tr>                                                                                                                                            </tbody>
        </table>
        </div>

        <div class="form__success form__notice" style="display: none;">
            <div class="form__successMessage selenium__api_key_successMessage">The API key has been successfully removed</div>
        </div>
        <div class="form__error form__error_api" style="display: none">
            <div class="form__errorMessage"></div>
        </div>

        <button class="button button_blue adaptive__button table_apikeys__addButton ui-fr">New API key</button>
        <div class="ui-clearfix"></div>
    </div>
</div>
