.title {
  position: relative;
  color: #ddd;
  font-weight: bold;
  z-index: 3;
  font-size: 20px;
  margin-bottom: 14px;
}
.block_padding-bottom {
  padding-bottom: 8px;
}
.block_rounded {
  border: 1px solid #b4b5b8;
  border-radius: 5px;
  min-height: 500px;
}
.block {
  position: relative;
  padding: 15px 15px 20px;
  margin: 0 0 15px 0;
  font-size: 12px;
  background: #2f3c49;
  word-wrap: break-word;
  float: right;
}
.form_new {
  color: #ddd;
}
.block__text_large {
  font-size: 14px;
  line-height: 20px;
  color: #ddd;
  margin-bottom: 18px;
}
p {
  margin: 0 0 10px;
}
.link_lightBlue {
  color: #289ac2;
}
.table {
  border-radius: 4px !important;
}
.table_apikeys__table {
  margin-bottom: 30px;
}
.table {
  width: 100%;
  position: relative;
  border-collapse: separate;
  border-spacing: 0;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.table__head .table__row:first-child .table__cell:first-child {
  border-radius: 5px 0 0 0;
}
.table__head .table__row:first-child .table__cell {
  border-top: 1px solid #27aae1;
}
.table__row .table__cell:first-child {
  border-left: 1px solid #27aae1;
}
.table__head .table__cell_apikey {
  background: #2f3c49;
}
.table__cell_apikey {
  position: relative;
  font-size: 11px;
}
.table__data_bold {
  font-weight: bold;
}
.table__cell_centered {
  text-align: center;
}
.table__cell {
  font-size: 12px;
  background: #2f3c49;
  padding: 7px;
  text-align: center;
  font-weight: bold;
  line-height: 16px;
  border-bottom: 1px solid #27aae1;
  border-right: 1px solid #27aae1;
}
td, th {
  display: table-cell;
  vertical-align: inherit;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.table__body .table__row:last-child .table__cell:first-child {
  border-radius: 0 0 0 5px;
}
.table__body .table__row:last-child .table__cell {
  border-bottom: 1px solid #27aae1;
}
.table__row .table__cell:first-child {
  border-left: 1px solid #27aae1;
}
.table>tbody>tr>td {
  border-top: none !important;
}
.nowrap, .atabs__menuItem {
  white-space: nowrap;
}
.table__body .apikey_title {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.table__cell_apikey.table__cell_action {
  white-space: nowrap;
  width: 1%;
}
.button_apikeyActivate {
  background: transparent;
  border: none;
  color: #AEAEAE;
  clear: both;
  font-family: Verdana;
  outline: none;
  padding: 0;
  text-transform: uppercase;
  width: 73px;
}
.button_apikeyActivate span {
  border: 1px solid #27aae1;
  display: inline-block;
  font-size: 12px;
  padding: 5px 0;
  text-align: center;
  width: 36px;
  transition: background .2s ease;
  float: left;
}
.button_apikeyActivate.active span:first-child {
  background: #55C225;
  color: white;
  cursor: default;
  border-color: #55C225;
}
.button_apikeyActivate span:first-child {
  border-right: none;
  border-radius: 5px 0 0 5px;
}
.button_apikeyActivate.active span:last-child {
  cursor: pointer;
}
.button_apikeyActivate span:last-child {
  border-radius: 0 5px 5px 0;
}
.button_apikeyActivate.revoked span:last-child {
  background: #D04747;
  color: white;
  cursor: default;
  border-color: #D04747;
}
.button_apikeyActivate span:last-child {
  border-radius: 0 5px 5px 0;
}
.table__cell_apikey>.checkbox {
  line-height: 20px;
  padding: 0;
  min-height: 20px;
}
// .checkbox {
//   position: relative;
//   display: inline-block;
//   vertical-align: middle;
//   padding: 0 10px 0 32px;
//   line-height: 23px;
//   cursor: default;
//   user-select: none;
// }
// input[type=checkbox]
// {
//   /* Double-sized Checkboxes */
//   -ms-transform: scale(2); /* IE */
//   -moz-transform: scale(2); /* FF */
//   -webkit-transform: scale(2); /* Safari and Chrome */
//   -o-transform: scale(2); /* Opera */
//   padding: 10px;
// }
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox__icon {
  position: absolute;
  top: 5px;
  left: 30px;
  height: 25px;
  width: 25px;
  background-color: #bbb;
}
.checkbox:hover input ~ .checkbox__icon {
  background-color: #ccc;
}
.checkbox input:checked ~ .checkbox__icon {
  background-color: #2196F3;
}
.checkbox__icon:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkbox__icon:after {
  display: block;
}
.checkbox .checkbox__icon:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Might want to wrap a span around your checkbox text */
// .not_active .table__cell_apikey {
//   color: rgba(0,0,0,0.8);
// }
// .checkbox__field {
//   position: absolute;
//   left: -9999px;
// }
// input[type="checkbox" i] {
//   margin: 3px 3px 3px 4px;
// }
// .table__cell_apikey .checkbox__icon {
//   cursor: pointer;
//   left: -12px;
// }
// .checkbox__icon {
//   position: absolute;
//   width: 21px;
//   height: 21px;
//   top: 0;
//   left: 0;
//   border: 1px solid #dddfe9;
//   background-repeat: no-repeat;
//   background-position: center center;
//   border-radius: 4px;
// }
.form_new .button {
  padding: 7px 27px;
  background: #27aae1;
  min-width: 150px !important;
  color: #f2f3f8 !important;
  font-weight: bold;
  float: right;
}
.form_new .button:hover{
  background: #4d74dd;
}
.button {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font: 12px Verdana, Arial, sans-serif;
  outline: 0;
  position: relative;
  text-decoration: none !important;
  vertical-align: middle;
  transition: background .2s ease;
  border-radius: 5px;
  user-select: none;
  padding-left: 20px!important;
}
.fa:hover {
  background: #f2f3f8;transform: scale(1.1);
}
