<div class="whiteListStatus enabled" data-block="whiteListStatus">
    <p class="whiteListStatus__intro">
        The whitelist is an additional security measure aimed to protect your trading and your funds by creating a secure list of withdrawal addresses.
By setting and confirming the whitelist of addresses for cryptocurrency withdrawals you agree that the withdrawal of the funds will be limited to these addresses only.
These limitations will apply to both <b>Excoincial</b> web interface and the API.

Please visit our <a href="" target="_blank">Support Center</a> for more detailed information.
</p>
    <div class="whiteListStatus_lists">
        <div class="whiteListStatus__actions">
            <button class="whiteListStatus__add" (click)="add()">Add New</button>
            <button class="whiteListStatus__disable">Disable Whitelist</button>
            <button class="whiteListStatus__enable">Enable Whitelist</button>
        </div>
        <hr style="background: #27aae1">
        <div class="table-wrapper pb-3" style="color: #b4b4b4; background-color: transparent;">
              <table id="balanceTable" class="common-table" style="font-size: 1rem;">
                <thead>
                <tr>
                  <th>currency</th>
                  <th>name</th>
                  <th>address</th>
                  <th>payment ID</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let record of whitelists">
                  <td>{{record.currency}}</td>
                  <td>{{record.name}}</td>
                  <td>{{record.address}}</td>
                  <td>{{record.payment}}</td>
                </tr>
                </tbody>
              </table>
          </div>
    </div>



    <div class="whiteListAdd whitelist_hidden" disabled="" data-block="whiteListAdd">

        <div class="whiteListAdd__field ui-clearfix">
            <label for="add-currency">Currency</label>
            <div class="ui-fl">
                <div class="form__row searchSelector whiteListAdd__currency ui-fl" data-block="searchSelector">

                    <input class="searchSelector__search" type="text" autocomplete="off">
                    <ul class="searchSelector__list"><li class="searchSelector__value searchSelector__value_checked" data-value="AIR"><div class="searchSelector__check"></div>AIR</li><li class="searchSelector__value " data-value="AMB"><div class="searchSelector__check"></div>AMB</li></ul>
                </div>
            </div>
        </div>


        <div class="whiteListAdd__body">
            <div class="whiteListAdd__row ui-clearfix">
                <div class="whiteListAdd__field ui-clearfix whiteListAdd__field_name">
                    <label for="37_name">Name</label>
                    <input type="text" id="37_name" name="name">
                    <div class="ok"></div>
                    <div class="error"></div>
                </div>

                <div class="whiteListAdd__field ui-clearfix whiteListAdd__field_address">
                    <label for="37_address">Address</label>
                    <input type="text" id="37_address" name="address">
                    <div class="ok"></div>
                    <div class="error"></div>
                </div>
                <div class="whiteListAdd__field whiteListAdd__field_remove">
                    <div class="whiteListAdd__remove">×</div>
                </div>
            </div>

        </div>

        <div>
            <span class="whiteListAdd__add" (click)="add_address()">Add address</span>
        </div>


        <div class="ui-clearfix">
            <button class="whiteListAdd__back" (click)="back()">Back</button>
            <button class="whiteListAdd__confirm">Confirm</button>
        </div>


    </div>
</div>
