.whiteListStatus__intro {
  width: 65%;
  margin: 0 auto 30px;
  color: #ddd;
}
.whiteListStatus__actions {
  text-align: center;
  padding-top: 5px;
}
.whiteListStatus.enabled .whiteListStatus__add {
  display: inline-block;
}
.whiteListStatus__add, .whiteListStatus__enable {
  background: #27aae1!important;
  color: white;
  text-align: center;
  display: inline-block;
}
.whiteListStatus__add, .whiteListStatus__disable, .whiteListStatus__enable {
  width: 140px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  background: none;
  font-size: 12px;
  outline: none;
  border: none;
  font-weight: bold;
  margin: 10px 5px;
  display: none;
  position: relative;
}
.whiteListStatus__add:hover{
  background: #4d74dd!important;
}
.whiteListStatus.enabled .whiteListStatus__disable {
  display: inline-block;
}
.whiteListStatus__disable {
  color: #ffffff;
  border: solid 1px #dddfe8;
  text-align:center;
}
a {
  color:#289ac2;
}
.whiteListAdd {
  width: 528px;
  margin: 0 auto;
}
.whitelist_hidden {
  display: none;
}
.whiteListAdd__field {
  display: inline-block;
  margin-bottom: 16px;
  position: relative;
}
.whiteListAdd__field label {
  width: 100px;
  color: #f2f3f8;
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}
.whiteListAdd__field {
  position: relative;
}
.whiteListAdd__field_name {
  width: 27%;
}
.whiteListAdd__field_address {
  width: 50%!important;
}
.whiteListAdd .searchSelector {
  width: 140px;
}
.searchSelector {
  position: relative;
  width: 128px;
  cursor: pointer;
}
.form__row {
  margin: 0 0 6px 0;
}
.ui-fl {
  float: left !important;
}
.whiteListAdd__field input {
  width: 100%;
  height: 28px;
  border-radius: 5px;
  background-color: #f2f3f8;
  border: solid 1px #cdcfdc;
  outline: none;
  color: #536474;
  padding: 0 22px 0 6px;
}
.searchSelector__list {
  display: none;
  list-style: none;
  margin: 0;
  position: absolute;
  top: 26px;
  padding: 5px 0 0;
  width: 100%;
  background:#f2f3f8;
  border: 1px solid #cccfdd;
  max-height: 600px;
  overflow-y: auto;
  border-radius: 0 0 5px 5px;
  z-index: 1000;
  box-shadow: 0px 6px 24px -7px rgba(0,0,0,0.18);
  border-top: 0;
}
.whiteListAdd .searchSelector__value_checked {
  background: #e1e3ed;
}
.whiteListAdd__remove {
  color: #cdcfdc;
  font-weight: bold;
  padding: 1px;
  font-size: 15px;
  cursor: pointer !important;
  position: absolute;
  top: 4px;
}
.whiteListAdd__field_remove[_ngcontent-c7] {
  width: 22px;
  margin-left: 10px;
  margin-top: 19px;
}
.whiteListAdd__add {
  display: inline-block;
  cursor: pointer;
  color: #2fa3d2;
  text-decoration: underline;
}
.whiteListAdd__confirm:hover {
  background: #4d74dd;
}
.whiteListAdd__back {
  color: #f2f3f8;
  border: solid 1px #f2f3f8;
  background: transparent;
  border-color: #f2f3f8;
  float: left;
}
.whiteListAdd__confirm {
  background: #27aae1;
  float: right;
  color:#f2f3f8;
  margin-right: 35px;
  border: none;
}
.whiteListAdd__back, .whiteListAdd__confirm {
  position: relative;
  margin-top: 25px;
  display: block;
  // outline: none;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
}

.common-table {
  width: 100%;
}

.table-wrapper {
  width: calc(100vw - 300px);
  padding: 2rem;
  border-radius: 10px;
  margin-top: 20px;
  border-color: #27aae1;
}

table.dataTable thead .sorting::before {
  right: 1.5rem;
  bottom: 0;
  border-color: #27aae1;
}

table.dataTable thead .sorting_asc::before {
  right: 1.5rem;
  bottom: 0;
}

table.dataTable thead .sorting_desc::before {
  right: 1.5rem;
  bottom: 0;
}

table.dataTable thead .sorting_asc_disabled::before {
  right: 1.5rem;
  bottom: 0;
}

table.dataTable thead .sorting_desc_disabled::before {
  right: 1.5rem;
  bottom: 0;
}

table.dataTable thead .sorting::after {
  right: 1rem;
  bottom: 0;
}

table.dataTable thead .sorting_asc::after {
  right: 1rem;
  bottom: 0;
}

table.dataTable thead .sorting_desc::after {
  right: 1rem;
  bottom: 0;
}

table.dataTable thead .sorting_asc_disabled::after {
  right: 1rem;
  bottom: 0;
}

table.dataTable thead .sorting_desc_disabled::after {
  right: 1rem;
  bottom: 0;
}
.whiteListStatus_lists {
  border: 1px solid #27aae1;
  border-radius: 5px;
  min-height: 500px;
}
