<div class="container">
  <div class="panel panel-primary">
    <div class="panel-body">
      <form ng-submit="signup()" role="form" class="ng-pristine ng-valid">
        <h3>Congratulations!</h3>
        <hr>
        <div class="form-group" ng-show="registerForm">
          <label>Your email has been confirmed and your account is now verified. Please login to start trading.</label>
        </div>
        <div class="form-group text-center">
          <input type="submit" name="submit" value="Log In" class="btn-main" ng-show="registerForm" (click)="goLogIn()">
        </div>
      </form>
    </div>
  </div>
</div>
