@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

.market-list-div {
  position: fixed;
  @include calc(height, '100vh - 4rem');
  background-color: #2f3340;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.order-content {
  @include calc(left, '100vw / 12 * 2');
  background-color: #2f3340;
  color: #d0d1d6;
}

.trade-chart {
  position: relative;
  width: 100%;
  height: 100%;
}

.recent-table {
  position: relative;
  width: 100%;
  height: 40%;
  padding-bottom: 20rem;
  font-size: 1rem;
  color: #cecfd4;
}

.market-list-title {
  font-weight: bold;
  color: #c7c8cd;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.coin-item {
  cursor: pointer;

  &:hover {
    background-color: #1f1f40;
  }
}

.order-content-subtitle {
  font-weight: bold;
  font-size: 1.6rem;
  color: #a7a7a7;
}

.order-content-table {
  color: #b6b4b4;
  cursor: pointer;
}

.dataTables_length {
  color: #ccffca;
}

.order-content-detail-label {
  color: #6988b9;
  font-size: 0.8rem;
}

.order-content-detail-dollar {
  font-size: 0.8rem;
}

.order-content-detail-coin {
  font-size: 0.8rem;
}

.order-panel {
  font-weight:bold;
}
