<div class="row no-gutters">
  <div class="col-2 market-list-div">
    <h4 class="market-list-title mt-3">MARKET LIST</h4>

    <select id="market-select" class="form-control selectpicker" data-live-search="true" title="Select a market"
            (change)="onChangeMarket($event.target.value)">
      <option *ngFor="let each_market of coin_markets" value="{{each_market.id}}">{{each_market.label}}</option>
    </select>

    <div class="mt-3">
      <div class="row mt-2" *ngFor="let each_coin of cur_coin_list; let i = index;">
        <div class="col-12 coin-item" (click)="onChangeCoin(i)">
          <div class="row">
            <div class="col-12 flex-container">
              <div style="color: #ccffca">{{each_coin.coin}}</div>
              <div [ngStyle]="{'color': each_coin.change > 0 ? 'green' : 'red'}">{{each_coin.change}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 flex-container">
              <div style="color: #d6c77e">{{each_coin.volume}}</div>
              <div style="color: #d6c77e">{{each_coin.last_price}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-10 pl-3 pr-3 pt-4 order-content">
    <div *ngIf="coin_selected == true" class="row mb-3">
      <div class="col-1 my-auto" style="text-align: right;">
        <img src="assets/img/coins/Icon-01.png" width="50rem">
      </div>
      <div class="col-2 my-auto">
        <div style="font-weight: bolder; font-size: 1.3rem;">{{selected_coin.market}}</div>
        <div class="text-muted" style="font-weight: bolder; font-size: 1rem;">{{selected_coin.currency}}</div>
      </div>
      <div class="col-1 my-auto">
        <div class="order-content-detail-dollar">$0.89</div>
        <div class="order-content-detail-coin"><i class="fa fa-btc"></i>{{selected_coin.last_price}}</div>
        <div class="order-content-detail-label">LAST</div>
      </div>
      <div class="col-1 ml-5 my-auto">
        <div class="order-content-detail-dollar">$0.89</div>
        <div class="order-content-detail-coin"><i class="fa fa-btc"></i>{{selected_coin.volume}}</div>
        <div class="order-content-detail-label">VOLUME</div>
      </div>
      <div class="col-1 ml-5 my-auto">
        <div class="order-content-detail-dollar">$0.89</div>
        <div class="order-content-detail-coin"><i class="fa fa-btc"></i>{{selected_coin.day_high}}</div>
        <div class="order-content-detail-label">24H HIGH</div>
      </div>
      <div class="col-1 ml-5 my-auto">
        <div class="order-content-detail-dollar">$0.89</div>
        <div class="order-content-detail-coin"><i class="fa fa-btc"></i>{{selected_coin.day_low}}</div>
        <div class="order-content-detail-label">24H LOW</div>
      </div>
      <div class="col-2 my-auto" style="text-align: right;">
        <button class="btn btn-outline-success"><i class="fa fa-money mr-2"></i>Deposit</button>
      </div>
      <div class="col-1 my-auto">
        <button class="btn btn-outline-warning"><i class="fa fa-money mr-2"></i>Withdraw</button>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <iframe class="trade-chart" frameborder="0"
                src="https://s.tradingview.com/widgetembed/?frameElementId=tradingview_82041&symbol=Binance%3ATRXBTC&interval=D&saveimage=0&toolbarbg=f1f3f6&studies=%5B%5D&hideideas=1&theme=Dark&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en&utm_source=bitexchange.systems&utm_medium=widget&utm_campaign=chart&utm_term=Binance%3ATRXBTC">
        </iframe>
      </div>
      <div class="col-4">
        <div class="pb-3 pl-1 pt-1" style="background-color: #1d1b24; font-size: 1.5rem; font-weight: bold;">
          Recent Trades
        </div>
        <table class="recent-table">
          <thead>
          <tr>
            <th class="text-center">Time</th>
            <th class="text-center">Price(THBP)</th>
            <th class="text-center">Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let each of recent_trade">
            <td class="text-center pt-2 pb-2">
              <span *ngIf="each.type == 'sell'" style="color: green;"> ⮝ </span>
              <span *ngIf="each.type == 'buy'" style="color: #aa0000;"> ⮟ </span>
              {{each.time}}
            </td>
            <td *ngIf="each.type == 'sell'" class="text-center" style="color: green;">{{each.price}}</td>
            <td *ngIf="each.type == 'buy'" class="text-center" style="color: #aa0000;">{{each.price}}</td>
            <td class="text-center">{{each.amount}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="coin_selected == true" class="mt-5 mb-2 order-content-subtitle" style="text-align: center;">ORDER BOOK
    </div>
    <div *ngIf="coin_selected == true" class="row mb-5">
      <div class="col-5" style="font-size: 0.8rem; padding-left: 1.5rem; padding-right: 1.5rem;">
        <table id="sell-coin" class="table table-hover order-content-table">
          <thead>
          <tr>
            <th>SUM</th>
            <th>TOTAL</th>
            <th>SIZE({{selected_coin.coin}})</th>
            <th>BID({{cur_market}})</th>
            <th>TYPE</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let each_sell of sell_list">
            <td>{{each_sell.sum}}</td>
            <td>{{each_sell.total}}</td>
            <td>{{each_sell.size}}</td>
            <td style="font-weight: bold; color: #008000;">{{each_sell.bid}}</td>
            <td style="font-weight: bold; color: #008000;">SELL</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-2">
        <div class="row">
          <div class="col-12" style="background-color: #141527; border-radius: 2rem; padding: 1rem;">
            <div class="row mb-4">
              <div class="col-8 offset-2">
                <switch [status]="true" [onText]="'Sell'" [offText]="'Buy'" [size]="'normal'" [onColor]="'green'"
                        [offColor]="'red'" (statusChange)="onFlagChange($event)"></switch>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="order-panel">Order Type</div>
                <div class="row flex-container pl-2 pr-2">
                  <div>Limit (default)</div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <div class="order-panel">QUANTITY</div>
                <div class="row flex-container pl-2 pr-2">
                  <div>0.00000</div>
                  <div>{{selected_coin.coin}}</div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <div class="order-panel">PRICE</div>
                <div class="row flex-container pl-2 pr-2">
                  <div>0.00000</div>
                  <div>{{cur_market}}</div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <div class="order-panel">TOTAL</div>
                <div class="row flex-container pl-2 pr-2">
                  <div>0.00000</div>
                  <div>{{cur_market}}</div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <div class="order-panel">TIME IN FORCE</div>
                <div class="row flex-container pl-2 pr-2">
                  <div>Good (default)</div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <button class="{{order_button_style}}">{{order_button_label}}</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5" style="font-size: 0.8rem; padding-left: 1.5rem; padding-right: 1.5rem;">
        <table id="buy-coin" class="table table-hover order-content-table">
          <thead>
          <tr>
            <th>SUM</th>
            <th>TOTAL</th>
            <th>SIZE({{selected_coin.coin}})</th>
            <th>ASK({{cur_market}})</th>
            <th>TYPE</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let each_buy of buy_list">
            <td>{{each_buy.sum}}</td>
            <td>{{each_buy.total}}</td>
            <td>{{each_buy.size}}</td>
            <td style="font-weight: bold; color: #aa0000;">{{each_buy.ask}}</td>
            <td style="font-weight: bold; color: #aa0000;">BUY</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="mt-5 mb-1 order-content-subtitle" style="text-align: center;">OPEN ORDERS</div>
    <table id="open-orders" class="table table-hover order-content-table">
      <thead>
      <tr>
        <th>ORDER DATE</th>
        <th>MARKET</th>
        <th>TYPE</th>
        <th>BID/ASK</th>
        <th>FILLED</th>
        <th>UNITS TOTAL</th>
        <th>ACTUAL RATE</th>
        <th>EST.TOTAL</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let each_order of open_orders">
        <td>{{each_order.order_date}}</td>
        <td>{{each_order.order_market}}</td>
        <td>{{each_order.order_type}}</td>
        <td>{{each_order.order_bid}}</td>
        <td>{{each_order.order_filled}}</td>
        <td>{{each_order.unit_total}}</td>
        <td>{{each_order.actual_rate}}</td>
        <td>{{each_order.est_total}}</td>
      </tr>
      </tbody>
    </table>

    <div class="mb-1 mt-5 order-content-subtitle" style="text-align: center;">MY ORDER HISTORY</div>
    <table id="order-history" class="table table-hover order-content-table">
      <thead>
      <tr>
        <th>CLOSED DATE</th>
        <th>OPENED DATE</th>
        <th>MARKET</th>
        <th>TYPE</th>
        <th>BID/ASK</th>
        <th>UNITS FILLED</th>
        <th>UNITS TOTAL</th>
        <th>ACTUAL RATE</th>
        <th>COST/PROCEEDS</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let each_order of order_history">
        <td>{{each_order.closed_date}}</td>
        <td>{{each_order.opened_date}}</td>
        <td>{{each_order.order_market}}</td>
        <td>{{each_order.order_type}}</td>
        <td>{{each_order.order_bid}}</td>
        <td>{{each_order.unit_filled}}</td>
        <td>{{each_order.unit_total}}</td>
        <td>{{each_order.actual_rate}}</td>
        <td>{{each_order.cost_proceed}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
