<!--<app-alerts></app-alerts>-->
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-body">
      <form ng-submit="signup()" role="form" class="ng-pristine ng-valid">
        <h1>Log In</h1>
        <hr>
        <div class="alert alert-danger" id="success-alert" [style.display]="hiddenElement?'none':'inherit'">
          {{alertMessage}}
        </div>
        <label ng-bind="registerError" style="color: red;width: 100%;text-align: center;" class="ng-binding"></label>
        <div class="form-group" ng-show="registerForm">
          <label for="emailaddr">Email Address</label>
          <input type="text" id="emailaddr" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="email" placeholder="Example: john.doe@gmail.com" [(ngModel)]="user.email" ng-value="email">
        </div>
        <div class="form-group" ng-show="registerForm">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="password" placeholder="" [(ngModel)]="user.password" ng-value="password">
        </div>
        <div class="form-group" ng-show="registerForm">
          <div class="check-box">
            <input type="checkbox">
            <span>Remember me</span>
            <a href="login">Forget password?</a>
          </div>
        </div>
        <div class="form-group text-center">
          <input type="submit" name="submit" value="Log In" class="btn-main" ng-show="registerForm" (click)="goMain()">
          <p ng-show="registerForm">Don't you have an account? <a href="javascript:void(0);" (click)="goSignup()">Sign Up</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
