div.container{
  width: 970px;
  padding-top: 100px;
  margin-left: auto;
  margin-top: auto;
}

.form-control{
  background: #ddd;
}

div.panel-body{
  font-family: inherit;
  background-color: #2f3340;
  color: #ddd;
  padding: 15px 60px;
  margin-left: 25%;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.check-box{
  padding-left: 18px;
}

.check-box span{
  padding: 5px 25px 5px 3px;
  border-right: ridge #27aae1;
}

.check-box a{
  color: #27aae1;
  padding: 5px 3px 5px 20px;
}

.panel-body h1{
  text-align: center;
  color: #27aae1;
}

.panel-body hr{
  background: #27aae1;
}

.text-center p{
  padding-top: 10px;
}

.text-center a{
  color: #27aae1;
}

.text-center input, button{
  margin-top: 20px;
  padding-top: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  //background: linear-gradient(to top, #262362 20%, #27aae1 80%);
  background: #27aae1;
  color: #ddd;
  width: 220px;
  height: 44px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 18px;
}
