{{##def.format:param:{{=(param.n).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}
<div class="scroll-wrapper" style="font-size : 12px;">
  <div class="home-market-content" style="background-color: #2f3340;">
    <div>
      <nav class="market-info-header hidden-xs clearfix">
        <div class="row">
          <div class="current-market col-md-4 col-sm-4">
            <div class="info-name" style="overflow: hidden">
              <h2 class="short-name">
                Bitcoin(BTC)
              </h2>
            </div>
          </div>
          <div class="info-item col-md-4 col-sm-4">
            <div class="type-volume">
              <span>Last Price: </span>
              <span>{{lastPriceOfBTC}}USD</span>
            </div>
            <div class="type-volume">
              <span>24th Volume:</span>
              <span>{{hrVolumnOfBTC}}USD</span>
            </div>

          </div>
          <div class="info-icon col-md-4 col-sm-4">
            <img src="https://bittrexblobstorage.blob.core.windows.net/public/ddbdafb2-e267-4114-abc3-06316cf3bef9.png">
          </div>
        </div>

      </nav>
      <div class="navigation market-info-list hidden-xs clearfix" style="background-color: #2f3340  ;">
        <ul style="display: flex;">
          <li class="market-list">
            <div class="item row">
              <div class="col-md-6 col-xs-6 market-icon">
                <img
                  src="../assets/img/coins/Icon-01.png" style="width: 40px;">
              </div>
              <div class="col-md-6 col-xs-6 market-price-detail">
                <div class="title market-gain">
                  Biggest % Gain
                </div>
                <div class="name market-name" style="color: #91c4f8;">
                  AFCASH
                </div>
                <div class="name volume market-price" style="color: #dddddd">
                  84253.52 USD
                </div>
                <div class="changed market-percent-up">
                 <span style="color: green;">
                    0.4
                 </span>
                  <span class="icon-arrow"></span>
                </div>
              </div>

            </div>
          </li>
          <li class="market-list">
            <div class="item row">
              <div class="col-md-6 col-xs-6 market-icon">
                <img
                  src="https://bittrexblobstorage.blob.core.windows.net/public/ddbdafb2-e267-4114-abc3-06316cf3bef9.png">
              </div>
              <div class="col-md-6 col-xs-6 market-price-detail">
                <div class="title market-gain">
                  Biggest % Gain
                </div>
                <div class="name market-name" style="color: #91c4f8;">
                  Bitcoin(BTC)
                </div>
                <div class="name volume market-price" style="color: #dddddd">
                  642350.23 USD
                </div>
                <div class="changed market-percent-up">
                 <span style="color: green;">
                   0.8
                 </span>
                  <span class="icon-arrow"></span>
                </div>
              </div>

            </div>
          </li>
          <li class="market-list">
            <div class="item row">
              <div class="col-md-6 col-xs-6 market-icon">
                <img
                  src="assets/img/coins/Ethereum.png">
              </div>
              <div class="col-md-6 col-xs-6 market-price-detail">
                <div class="title market-gain">
                  Biggest % Gain
                </div>
                <div class="name market-name" style="color: #91c4f8;">
                  Ethereum(ETH)
                </div>
                <div class="name volume market-price" style="color: #dddddd">
                  81.88BTC
                </div>
                <div class="changed market-percent-up">
                 <span style="color: red;">
                   -0.7
                 </span>
                  <span class="icon-arrow"></span>
                </div>
              </div>

            </div>
          </li>
          <li class="market-list">
            <div class="item row">
              <div class="col-md-6 col-xs-6 market-icon">
                <img
                  src="https://bittrexblobstorage.blob.core.windows.net/public/efc96992-1993-4a91-84cf-c04fea919788.png">
              </div>
              <div class="col-md-6 col-xs-6 market-price-detail">
                <div class="title market-gain">
                  Biggest % Gain
                </div>
                <div class="name market-name" style="color: #91c4f8;">
                  Ethereum Classic(ETC)
                </div>
                <div class="name volume market-price" style="color: #dddddd">
                  726.64BTC
                </div>
                <div class="changed market-percent-up">
                 <span style="color: red;">
                   -1.2
                 </span>
                  <span class="icon-arrow"></span>
                </div>
              </div>

            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="market-info-content" style="color: #dddddd;">
      <div class="common-table-container pt-3">
        <div class="table-heading">
          <div class="col-md-8 col-sm-6 col-xs-12 no-padding-left heading-value">
            <span style="color: #dddddd; font-size: 1.5rem;">
              USD MARKETS
            </span>
            <div class="market-summary-info">
              Total Volumn = ${{totalVolumnOfUSD}}
            </div>
          </div>
        </div>
        <table class="common-table" style="color: #dddddd;">
          <thead>
          <tr>
            <th>
              MARKET
            </th>
            <th>
              CURRENCY
            </th>
            <th>
              VOLUME
            </th>
            <!--<th>-->
              <!--%CHANGE-->
            <!--</th>-->
            <th>
              LAST PRICE
            </th>
            <th>
              24HR HIGH
            </th>
            <th>
              24HR LOW
            </th>
            <th>
              %SPREAD
            </th>
            <th>
              ADDED
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let client of USDTable">
            <td>
              {{client.MarketName}}
            </td>
            <td>
              {{client.currenc}}
            </td>
            <td>
              {{client.Volume}}
            </td>
            <!--<td *ngIf="client.change>=0" class="color-green">-->
            <!--{{client.change}}-->
            <!--</td>-->
            <!--<td *ngIf="client.change<0" class="color-red">-->
            <!--{{client.change}}-->
            <!--</td>-->
            <td>
              {{client.Last}}
            </td>
            <td>
              {{client.High}}
            </td>
            <td>
              {{client.Low}}
            </td>
            <td>
              {{client.spread}}
            </td>
            <td>
              {{client.Created.split('T')[0]}}
            </td>

          </tr>
        </table>
      </div>
      <div class="common-table-container">
        <div class="table-heading">
          <div class="col-md-8 col-sm-6 col-xs-12 no-padding-left heading-value">
            <span style="color: #dddddd; font-size: 1.5rem;">
              BTC MARKETS
            </span>
            <div class="market-summary-info">
              Total Volumn = {{totalVolumnOfBTC}} 1BTC = $6,317.2876
            </div>
          </div>
        </div>
        <table class="common-table">
          <thead>
          <tr>
            <th>
              MARKET
            </th>
            <th>
              CURRENCY
            </th>
            <th>
              VOLUME
            </th>
            <!--<th>-->
              <!--%CHANGE-->
            <!--</th>-->
            <th>
              LAST PRICE
            </th>
            <th>
              24HR HIGH
            </th>
            <th>
              24HR LOW
            </th>
            <th>
              %SPREAD
            </th>
            <th>
              ADDED
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let client of BTCTable">
            <td>
              {{client.MarketName}}
            </td>
            <td>
              {{client.currenc}}
            </td>
            <td>
              {{client.Volume}}
            </td>
            <!--<td *ngIf="client.change>=0" class="color-green">-->
              <!--{{client.change}}-->
            <!--</td>-->
            <!--<td *ngIf="client.change<0" class="color-red">-->
              <!--{{client.change}}-->
            <!--</td>-->
            <td>
              {{client.Last}}
            </td>
            <td>
              {{client.High}}
            </td>
            <td>
              {{client.Low}}
            </td>
            <td>
              {{client.spread}}
            </td>
            <td>
              {{client.Created.split('T')[0]}}
            </td>

          </tr>
          </tbody>
        </table>
      </div>
      <div class="common-table-container">
        <div class="table-heading">
          <div class="col-md-8 col-sm-6 col-xs-12 no-padding-left heading-value">
            <span style="color: #dddddd; font-size: 1.5rem;">
              ETH MARKETS
            </span>
            <div class="market-summary-info">
              Total Volumn = {{totalVolumnOfETH}}
            </div>
          </div>
        </div>
        <table class="common-table">
          <thead>
          <tr>
            <th>
              MARKET
            </th>
            <th>
              CURRENCY
            </th>
            <th>
              VOLUME
            </th>
            <!--<th>-->
              <!--%CHANGE-->
            <!--</th>-->
            <th>
              LAST PRICE
            </th>
            <th>
              24HR HIGH
            </th>
            <th>
              24HR LOW
            </th>
            <th>
              %SPREAD
            </th>
            <th>
              ADDED
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let client of ETHTable">
            <td>
              {{client.MarketName}}
            </td>
            <td>
              {{client.currenc}}
            </td>
            <td>
              {{client.Volume}}
            </td>
            <!--<td *ngIf="client.change>=0" class="color-green">-->
            <!--{{client.change}}-->
            <!--</td>-->
            <!--<td *ngIf="client.change<0" class="color-red">-->
            <!--{{client.change}}-->
            <!--</td>-->
            <td>
              {{client.Last}}
            </td>
            <td>
              {{client.High}}
            </td>
            <td>
              {{client.Low}}
            </td>
            <td>
              {{client.spread}}
            </td>
            <td>
              {{client.Created.split('T')[0]}}
            </td>

          </tr>
          </tbody>
        </table>
      </div>
      <div class="common-table-container">
        <div class="table-heading">
          <div class="col-md-8 col-sm-6 col-xs-12 no-padding-left heading-value">
            <span style="color: #dddddd; font-size: 1.5rem;">
              USDT MARKETS
            </span>
            <div class="market-summary-info">
              Total Volumn = {{totalVolumnOfUSDT}}
            </div>
          </div>
        </div>
        <table class="common-table">
          <thead>
          <tr>
            <th>
              MARKET
            </th>
            <th>
              CURRENCY
            </th>
            <th>
              VOLUME
            </th>
            <!--<th>-->
              <!--%CHANGE-->
            <!--</th>-->
            <th>
              LAST PRICE
            </th>
            <th>
              24HR HIGH
            </th>
            <th>
              24HR LOW
            </th>
            <th>
              %SPREAD
            </th>
            <th>
              ADDED
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let client of USDTTable">
            <td>
              {{client.MarketName}}
            </td>
            <td>
              {{client.currenc}}
            </td>
            <td>
              {{client.Volume}}
            </td>
            <!--<td *ngIf="client.change>=0" class="color-green">-->
            <!--{{client.change}}-->
            <!--</td>-->
            <!--<td *ngIf="client.change<0" class="color-red">-->
            <!--{{client.change}}-->
            <!--</td>-->
            <td>
              {{client.Last}}
            </td>
            <td>
              {{client.High}}
            </td>
            <td>
              {{client.Low}}
            </td>
            <td>
              {{client.spread}}
            </td>
            <td>
              {{client.Created.split('T')[0]}}
            </td>

          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <footer class="market-info-footer">

  </footer>
</div>
