.home-market-content {
  background-color: #fff;
  min-height: calc(100vh - 180px);
  .market-info-header {
    height: 120px;
    background-color: #27aae1 ;
    overflow: hidden;

    .info-item {
      padding: 31px 0 33px;
      .type-volume {
        display: flex;
        justify-content: space-between;
        max-width: 363px;
        margin: 0 auto;
        span {
          color: #dddddd;
          font-size: 24px;
          line-height: 1.2;
          @media (max-width: 1199px) {
            font-size: 17px; // use larger text for smaller screens
          }
        }
      }
    }

    .info-icon {
      text-align: center;

      img {
        width: 170px;
        height: auto;
        margin-top: -25px
      }
    }
  }

  .market-info-list {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);

    .market-list {
      //height: 100%;
      width: 350px;
      border-left: 1px solid #ccc;

      .market-icon {
        padding: 14px 0 15px 8px;

        img {
          width: 60px;
          height: auto;
          float: right;
          margin-right: 30px;
        }
      }

      .market-price-detail {
        padding: 14px 0 9px 0;
        font-size: 14px;

        p {
          margin-bottom: 2px
        }

        p:last-child {
          margin-bottom: 0
        }

        .market-gain {
          font-size: 10px;
          line-height: 12px;
          font-weight: bold;
          color: #dddddd
        }
        .market-name {
          line-height: 19px;
          max-width: 115px
        }

        .market-price {
          line-height: 19px;
          font-weight: bold;
          color: #dddddd
        }
        .market-percent-up {
          line-height: 19px;
          color: #dddddd
        }
        .market-percent-down {
          line-height: 19px;
          color: #dddddd
        }

        .market-buy {
          font-size: 12px;
          line-height: 19px;
          font-weight: bold;
          color: #dddddd;
          text-decoration: underline
        }
      }
    }

    ul li {
      display: inline;
    }
  }

}

.home-market-content .market-info-header .current-market .info-name .short-name {
  color: #dddddd;
  font-size: 42px;
  line-height: 49px;
  font-weight: 300;
  text-align: center;
  margin-top: 35px
}

.home-market-content .market-info-list .market-list:first-child {
  border: none
}

.home-market-content .market-info-content {
  padding: 0 60px 40px;
  h2 {
    display: inline-block;
    line-height: 24px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .5px;
    text-align: left;
    color: #dddddd;
    margin: 0;
    text-transform: uppercase
  }
  .common-table-container {
    margin-top: 40px
  }
}

.home-market-content .market-info-content .common-table-container .table-heading .heading-value {
  margin-top: 4px
}

.home-market-content .market-info-content .common-table-container .table-heading .table-value {
  display: inline-block;
  margin-bottom: 0
}

.home-market-content .market-info-content .common-table-container .table-heading .table-value .tip-value {
  margin-left: 28px
}

.home-market-content .market-info-content .common-table-container .table-heading .search-form {
  text-align : center;
}

.home-market-content .market-info-content .common-table-container .table-heading .search-form .market-search {
  height: 32px !important;
  padding: 0 10px !important;
  border-radius: 4px;
  margin-right: 0;
  border: none;
  background-color: rgba(211, 221, 236, .8);
  box-shadow: none;
  width: 200px;
  font-size: 13px;
  color: #dddddd;
  display: inline-block
}

.home-market-content .market-info-content .common-table-container .table-heading .search-form .market-search:focus:-ms-input-placeholder {
  color: #dddddd
}

.home-market-content .market-info-content .common-table-container .table-heading .search-form .market-search:focus::-webkit-input-placeholder {
  color: #dddddd
}

.home-market-content .market-info-content .common-table-container .table-heading .search-form .market-search:focus::-moz-placeholder {
  color: #dddddd
}

.home-market-content .market-info-content .common-table-container .table-heading .search-form .market-search:focus:-moz-placeholder {
  color: #dddddd
}

.home-market-content .market-info-content .common-table-container .table-heading .search-form .market-search:-ms-input-placeholder {
  font-size: 13px;
  font-style: italic;
  color: #dddddd
}

.home-market-content .market-info-content .common-table-container .table-heading .search-form .market-search::-webkit-input-placeholder {
  font-size: 13px;
  font-style: italic;
  color: #dddddd
}

.home-market-content .market-info-content .common-table-container .table-heading .search-form .market-search::-moz-placeholder {
  font-size: 13px;
  font-style: italic;
  color: #dddddd
}

.home-market-content .market-info-content .common-table-container .table-heading .search-form .market-search:-moz-placeholder {
  font-size: 13px;
  font-style: italic;
  color: #dddddd
}

.home-market-content .market-info-content .common-table-container .table-heading .market-summary-info {
  display: inline;
  font-size: 1rem;
}

.home-market-content .market-info-content .common-table-container .common-table {
  width: 100%;
  margin-top: 24px
}

.home-market-content .market-info-content .common-table-container .common-table thead {
  border-bottom: 1px solid #ccc
}

.home-market-content .market-info-content .common-table-container .common-table thead tr th {
  line-height: 14px;
  font-size: 13px;
  text-align : center;
  color: #dddddd;
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 8px;
  cursor: pointer
}

.home-market-content .market-info-content .common-table-container .common-table thead tr th:first-child, .home-market-content .market-info-content .common-table-container .common-table thead tr th:nth-child(2) {
  text-align: left
}

.home-market-content .market-info-content .common-table-container .common-table thead tr th.selected {
  position: relative;
  font-weight: bold
}

.home-market-content .market-info-content .common-table-container .common-table thead tr th.selected span {
  position: absolute;
  top: 1px;
  right: -16px
}

.home-market-content .market-info-content .common-table-container .common-table tbody tr {
  height: 29px;
  border-bottom: 1px solid #e7ebf1;
  cursor: pointer !important
}

.home-market-content .market-info-content .common-table-container .common-table tbody tr:last-child {
  border-color: #ccc
}

.home-market-content .market-info-content .common-table-container .common-table tbody tr:hover {
  background-color: rgba(0, 132, 212, .08)
}

.home-market-content .market-info-content .common-table-container .common-table tbody tr:hover td:first-child a {
  text-decoration: underline
}

.home-market-content .market-info-content .common-table-container .common-table tbody tr td {
  line-height: 17px;
  font-size: 13px;
  text-align : center;
}

.home-market-content .market-info-content .common-table-container .common-table tbody tr td:first-child, .home-market-content .market-info-content .common-table-container .common-table tbody tr td:nth-child(2) {
  text-align: left
}

.home-market-content .market-info-content .common-table-container .common-table tbody tr td:first-child a {
  color: #dddddd;
}

.home-market-content .market-info-content .common-table-container .common-table tbody tr td:first-child a:hover {
  color: #dddddd
}

.home-market-content .market-info-content .common-table-container .common-table tbody tr td:first-child i.fa-exclamation-triangle {
  color: #dddddd
}

.home-market-content .market-info-content .common-table-container .common-table tbody tr td.order-type {
  text-align : center;
  text-transform: uppercase;
  color: #dddddd
}

.home-market-content .market-info-content .common-table-container .common-table tbody tr td.order-type span {
  margin-left: 4px
}

$breakpoint1: 1199px;
@media screen and (max-width: #{$breakpoint1}) {
  .home-market-content .market-info-header {
    height: 87px
  }

  .home-market-content .market-info-header .current-market .info-name .short-name {
    font-size: 30px;
    line-height: 35px;
    margin-top: 25px
  }

  .home-market-content .market-info-header .info-item {
    padding: 22px 0 23px
  }

  .home-market-content .market-info-header .info-item .type-volume {
    max-width: 258px
  }

  .home-market-content .market-info-header .info-icon img {
    width: 120px;
    margin-top: -17px
  }

  .home-market-content .market-info-list .market-list {
    width: 25vw
  }
}

$breakpoint2: 991px;
@media screen and (max-width: #{$breakpoint2}) {
  .home-market-content .market-info-header {
    height: 65px
  }

  .home-market-content .market-info-header .current-market .info-name .short-name {
    font-size: 22px;
    line-height: 26px;
    margin-top: 19px
  }

  .home-market-content .market-info-header .info-item {
    padding: 16.5px 0 18px
  }

  .home-market-content .market-info-header .info-item .type-volume {
    max-width: 193px
  }

  .home-market-content .market-info-header .info-item .type-volume span {
    font-size: 13px
  }

  .home-market-content .market-info-header .info-icon img {
    width: 90px;
    margin-top: -13px
  }

  .home-market-content .market-info-list {
    padding: 15px 0;
    text-align: center
  }

  .home-market-content .market-info-list .market-list {
    padding: 0;
    height: 100%
  }

  .home-market-content .market-info-list .market-list .market-icon {
    width: 40%;
    height: 40%
  }

  //.home-market-content .market-info-list .market-list .market-icon img {
  //  width: 100%;
  //  height: 100%
  //}

  .home-market-content .market-info-list .market-list .market-price-detail {
    padding: 10px 0 8px 0
  }

  .home-market-content .market-info-list .market-list .market-price-detail .market-gain {
    font-size: 8px;
    line-height: 10px
  }

  .home-market-content .market-info-list .market-list .market-price-detail .market-name {
    font-size: 12px;
    line-height: 14px
  }

  .home-market-content .market-info-list .market-list .market-price-detail .market-price {
    font-size: 12px;
    line-height: 14px
  }

  .home-market-content .market-info-list .market-list .market-price-detail .market-percent-up {
    font-size: 12px;
    line-height: 14px
  }

  .home-market-content .market-info-list .market-list .market-price-detail .market-percent-down {
    font-size: 12px;
    line-height: 14px
  }

  .home-market-content .market-info-list .market-list .market-price-detail .market-buy {
    font-size: 9px;
    line-height: 11px
  }

  .home-market-content .market-info-content .common-table-container .table-heading .table-value {
    margin-top: 8px
  }

  .home-market-content .market-info-content .common-table-container .table-heading .table-value .tip-value {
    margin-left: 28px
  }

  .home-market-content .market-info-content .common-table-container .table-heading .table-value .tip-value:first-child {
    margin: 0
  }

  .home-market-content .market-info-content .common-table-container .table-heading .market-summary-info {
    display: block
  }
}

$breakpoint3: 767px;
@media screen and (max-width: #{$breakpoint3}) {
  .home-market-content .market-info-slide {
    background-color: #0084d4
  }

  .home-market-content .market-info-slide .market-info-list {
    margin: 0
  }

  .home-market-content .market-info-slide .market-info-list .market-list .market-icon {
    padding-right: 30px;

  }

  .home-market-content .market-info-slide .market-info-list .market-list .market-price-detail .market-gain {
    color: #dddddd;
    opacity: .65
  }

  .home-market-content .market-info-slide .market-info-list .market-list .market-price-detail .market-price, .home-market-content .market-info-slide .market-info-list .market-list .market-price-detail .market-name, .home-market-content .market-info-slide .market-info-list .market-list .market-price-detail .market-percent-up, .home-market-content .market-info-slide .market-info-list .market-list .market-price-detail .market-percent-down, .home-market-content .market-info-slide .market-info-list .market-list .market-price-detail .market-buy {
    color: #dddddd
  }

  .home-market-content .market-info-slide .market-info-list .market-list .market-price-detail .market-price a, .home-market-content .market-info-slide .market-info-list .market-list .market-price-detail .market-name a, .home-market-content .market-info-slide .market-info-list .market-list .market-price-detail .market-percent-up a, .home-market-content .market-info-slide .market-info-list .market-list .market-price-detail .market-percent-down a, .home-market-content .market-info-slide .market-info-list .market-list .market-price-detail .market-buy a {
    color: #dddddd
  }

  .home-market-content .market-info-slide .carousel-control {
    background-image: none
  }

  .home-market-content .market-info-slide .carousel-control span {
    top: 50%;
    position: absolute;
    margin-top: -5px
  }

  .home-market-content .market-info-slide .carousel-control.left {
    text-align: left
  }

  .home-market-content .market-info-slide .carousel-control.left span {
    left: 15px
  }

  .home-market-content .market-info-slide .carousel-control.right span {
    right: 15px
  }

  .home-market-content .market-info-content {
    padding: 0 8px 40px
  }

  .home-market-content .market-info-content .common-table-container {
    margin-top: 44px
  }

  .home-market-content .market-info-content .common-table-container:first-child {
    margin-top: 24px
  }

  .home-market-content .market-info-content .common-table-container .table-heading {
    padding: 0;
    display: block
  }

  .home-market-content .market-info-content .common-table-container .table-heading .heading-value {
    margin-top: 0
  }

  .home-market-content .market-info-content .common-table-container .table-heading .col-xs-6 {
    padding: 0
  }

  .home-market-content .market-info-content .common-table-container .table-heading h2 {
    white-space: nowrap
  }

  .home-market-content .market-info-content .common-table-container .table-heading h2 i {
    font-size: 18px;
    margin-right: 8px
  }

  .home-market-content .market-info-content .common-table-container .table-heading .search-form {
    padding: 0;
    margin-top: 24px
  }

  .home-market-content .market-info-content .common-table-container .table-heading .search-form .market-search {
    width: 100%
  }

  .home-market-content .market-info-content .common-table-container .table-heading .table-value {
    margin-top: 16px;
    line-height: 14px
  }

  .home-market-content .market-info-content .common-table-container .table-heading .table-value span:first-child {
    margin-left: 0 !important
  }

  .home-market-content .market-info-content .common-table-container .common-table {
    margin-top: 24px
  }

  .home-market-content .market-info-content .common-table-container .common-table thead tr:hover, .home-market-content .market-info-content .common-table-container .common-table tbody tr:hover {
    background-color: #fff
  }

  .home-market-content .market-info-content .common-table-container .common-table thead tr th:first-child, .home-market-content .market-info-content .common-table-container .common-table thead tr td:first-child, .home-market-content .market-info-content .common-table-container .common-table tbody tr th:first-child, .home-market-content .market-info-content .common-table-container .common-table tbody tr td:first-child {
    padding-left: 4px
  }

  .home-market-content .market-info-content .common-table-container .common-table thead tr th.padding-xs, .home-market-content .market-info-content .common-table-container .common-table thead tr td.padding-xs, .home-market-content .market-info-content .common-table-container .common-table tbody tr th.padding-xs, .home-market-content .market-info-content .common-table-container .common-table tbody tr td.padding-xs {
    padding-right: 4px
  }

  .home-market-content .market-info-content .common-table-container .common-table tbody tr td:first-child {
    text-decoration: underline
  }
}
