.main-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 4rem;
  background-color: #0d0d23;
}

.main-body {
  position: relative;
  top: 4rem;
}

.logo-img {
  height: 3.5rem;
  padding-top: 0.4rem;
  padding-left: 3rem;
}

.sub-menu {
  color: white !important;

  span:hover {
    cursor: pointer;
    color: #dcd853;
  }
}

.shadow-text {
  text-shadow: 0.2rem 0.2rem 0.3rem #ccffca;
  color: #39d735;
}
