<div class="main-header">
  <div class="row">
    <div class="col-1">
      <img class="logo-img" style="cursor: pointer;" src="assets/img/logo/company-logo.png" (click)="goLand()">
    </div>
    <div class="col-5 offset-6 my-auto sub-menu">
      <span class="mr-5" *ngFor="let each of sub_menu; let i = index;" (click)="changeSubmenu(i)">
        {{each}}
      </span>
    </div>
  </div>
</div>

<div class="main-body">
  <app-market *ngIf="cur_menu == 0"></app-market>
  <app-order *ngIf="cur_menu == 1"></app-order>
  <app-wallet *ngIf="cur_menu == 2"></app-wallet>
  <app-settings *ngIf="cur_menu == 3"></app-settings>
  <app-login *ngIf="cur_menu == 4"></app-login>
</div>
