<div class="container">
  <div class="panel panel-primary">
    <div class="panel-body">
      <form ng-submit="signup()" role="form" class="ng-pristine ng-valid">
        <h3>Email Verification Required</h3>
        <hr>
        <div class="form-group" ng-show="registerForm">
          <label>You're almost there! We've sent a keycode email to the address you provided. Please confirm the email and enter the keycode. It is also your final step in the sign up process. You're now ready to log in</label>
        </div>
        <div class="alert alert-danger" id="success-alert" [style.display]="hiddenElement?'none':'inherit'">
          {{alertMessage}}
        </div>
        <div class="row" style="align-items: center; justify-content: center;">
        <div class="form-group" ng-show="registerForm">
          <input type="text" id="keycode" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="keycode" [(ngModel)]="keycode">
        </div>
        <div class="form-group text-center">
          <input type="submit" name="submit" value="Confirm" class="btn-main" ng-show="registerForm" (click)="verifyCode()">
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
