.common-table {
  width: 100%;
  font-size: 1.2rem;
}

table.dataTable thead .sorting::before {
  right: 1.5rem;
  bottom: 0;
}

table.dataTable thead .sorting_asc::before {
  right: 1.5rem;
  bottom: 0;
}

table.dataTable thead .sorting_desc::before {
  right: 1.5rem;
  bottom: 0;
}

table.dataTable thead .sorting_asc_disabled::before {
  right: 1.5rem;
  bottom: 0;
}

table.dataTable thead .sorting_desc_disabled::before {
  right: 1.5rem;
  bottom: 0;
}

table.dataTable thead .sorting::after {
  right: 1rem;
  bottom: 0;
}

table.dataTable thead .sorting_asc::after {
  right: 1rem;
  bottom: 0;
}

table.dataTable thead .sorting_desc::after {
  right: 1rem;
  bottom: 0;
}

table.dataTable thead .sorting_asc_disabled::after {
  right: 1rem;
  bottom: 0;
}

table.dataTable thead .sorting_desc_disabled::after {
  right: 1rem;
  bottom: 0;
}
