<div class="pt-2" style="color: #ccffca;">
  <p class="ml-3 mt-2 font-weight-bold" style="font-size: 1.5rem;">
    ACCOUNT BALANCES
  </p>
  <div class="ml-4" style="display: flex" align="center">
    <div class="pr-5">
      Estimated<br>Holdings
    </div>
    <div style="margin-bottom: 30px; margin-left: 20px;" class="text-left pl-2">
      <div style="font-size: 15px; font-style: normal">
        <b style="width: 80px; display: inline-block;">Crypto </b>
        <i><i class="fa fa-bitcoin"></i> 0.00000000<span
          style="margin-left: 16px; font-size: .8em;">($0.000)</span></i>
      </div>
      <div style="font-size: 15px; font-style: normal">
        <b style="width: 80px; display: inline-block;">Fiat </b>
        <i><i class="fa fa-dollar"></i> 0.000</i>
      </div>
    </div>
  </div>
</div>

<div class="pb-3" style="color: #b4b4b4; width: 100vw; background-color: #1f232f">
  <div class="dataTables_length" id="balanceTable_length">
    <label class="hidden-text custom-button" style="margin-left:0 !important">
      <span class="pl-3" style="font-size: 1.5rem; font-weight: bold">Hide zero balances</span>
    </label>
  </div>
  <div class="ml-5" style="font-size: 0.8rem; width: 95vw;">
    <table id="balanceTable" class="common-table" width="100%" style="font-size: 1rem;">
      <thead>
      <tr>
        <th>currency name</th>
        <th>symbol</th>
        <th>available balance</th>
        <th>pending deposit</th>
        <th>reserved</th>
        <th>total</th>
        <th>est. BTC value</th>
        <th>%change</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let record of walletRecord">
        <td>{{record.currency_name}}</td>
        <td>{{record.symbol}}</td>
        <td>{{record.avail_balance | number: '1.8'}}</td>
        <td>{{record.pending_deposit | number : '1.8'}}</td>
        <td>{{record.reserved | number : '1.8'}}</td>
        <td>{{record.total | number : '1.8'}}</td>
        <td>{{record.est_btc | number : '1.8'}}</td>
        <td>{{record.change | number : '1.1-1'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div style="color: #b4b4b4; width: 95vw;">
  <div class="eachTable mt-5" style="color: #c6c6c6;">
    <div class="ml-3" *ngIf="pendWithPlus" style="cursor: pointer;" (click)="clickPendWith()">
      <i class="fa fa-plus-square" style="padding-bottom: -5px;"></i>
      <span style="font-size: 1.5rem; font-weight: bold;">PENDING WITHDRAWALS</span>
      <span style="font-size: 1rem;" class="ml-2">Click to view pending withdrawal details</span>
    </div>
    <div *ngIf="!pendWithPlus" style="width: 95vw;">
      <div class="ml-3" style="cursor: pointer;" (click)="clickPendWith()">
        <i class="fa fa-minus-square" style="padding-bottom: -5px;"></i>
        <span style="font-size: 1.5rem; font-weight: bold;">PENDING WITHDRAWALS</span>
      </div>
      <div class="ml-5" style="background-color: #1a1d29; padding: 1.3rem; border-radius: 1.5rem; font-size: 0.8rem;">
        <table class="common-table pl-3" id="withdraw_table">
          <thead>
          <tr>
            <th>Date</th>
            <th>symbol</th>
            <th>quantity</th>
            <th>status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let withdraw of withdrawals">
            <td>{{withdraw.date}}</td>
            <td>{{withdraw.symbol}}</td>
            <td>{{withdraw.quantity}}</td>
            <td>{{withdraw.status}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div style="color: #b4b4b4; width: 95vw;">
  <div class="eachTable mt-4" style="color: #c6c6c6;">
    <div class="ml-3" *ngIf="pendDepPlus" style="cursor: pointer;" (click)="clickPendDep()">
      <i class="fa fa-plus-square" style="padding-bottom: -5px;"></i>
      <span style="font-size: 1.5rem; font-weight: bold;">PENDING DEPOSITS</span>
      <span style="font-size: 1rem;" class="ml-2">Click to view pending deposit details</span>
    </div>
    <div *ngIf="!pendDepPlus">
      <div class="ml-3" style="cursor: pointer;" (click)="clickPendDep()">
        <i class="fa fa-minus-square" style="padding-bottom: -5px;"></i>
        <span style="font-size: 1.5rem; font-weight: bold;">PENDING DEPOSITS</span>
      </div>
      <div class="ml-5" style="background-color: #1a1d29; padding: 1.3rem; border-radius: 1.5rem; font-size: 0.8rem;">
        <table class="common-table" id="deposit_table">
          <thead>
          <tr>
            <th>Date</th>
            <th>symbol</th>
            <th>quantity</th>
            <th>status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let deposit of deposits">
            <td>{{deposit.date}}</td>
            <td>{{deposit.symbol}}</td>
            <td>{{deposit.quantity}}</td>
            <td>{{deposit.status}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div style="color: #b4b4b4; width: 95vw;">
  <div class="eachTable mt-4" style="color: #c6c6c6;">
    <div class="ml-3" *ngIf="withHistPlus" style="cursor: pointer;" (click)="clickWithHist()">
      <i class="fa fa-plus-square" style="padding-bottom: -5px;"></i>
      <span style="font-size: 1.5rem; font-weight: bold;">WITHDRAWAL HISTORY</span>
      <span style="font-size: 1rem;" class="ml-2">Click to view withdrawal history details</span>
    </div>
    <div *ngIf="!withHistPlus">
      <div class="ml-3" style="cursor: pointer;" (click)="clickWithHist()">
        <i class="fa fa-minus-square" style="padding-bottom: -5px;"></i>
        <span style="font-size: 1.5rem; font-weight: bold;">WITHDRAWAL HISTORY</span>
      </div>
      <div class="ml-5" style="background-color: #1a1d29; padding: 1.3rem; border-radius: 1.5rem; font-size: 0.8rem;">
        <table class="common-table" id="withhist_table">
          <thead>
          <tr>
            <th>Date</th>
            <th>symbol</th>
            <th>quantity</th>
            <th>status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let withhist of withhists">
            <td>{{withhist.date}}</td>
            <td>{{withhist.symbol}}</td>
            <td>{{withhist.quantity}}</td>
            <td>{{withhist.status}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="pb-5" style="color: #b4b4b4; width: 95vw;">
  <div class="eachTable mt-4" style="color: #c6c6c6;">
    <div class="ml-3" *ngIf="depHistPlus" style="cursor: pointer;" (click)="clickDepHist()">
      <i class="fa fa-plus-square" style="padding-bottom: -5px;"></i>
      <span style="font-size: 1.5rem; font-weight: bold;">DEPOSIT HISTORY</span>
      <span style="font-size: 1rem;" class="ml-2">Click to view deposit history details</span>
    </div>
    <div *ngIf="!depHistPlus">
      <div class="ml-3" style="cursor: pointer;" (click)="clickDepHist()">
        <i class="fa fa-minus-square" style="padding-bottom: -5px;"></i>
        <span style="font-size: 1.5rem; font-weight: bold;">DEPOSIT HISTORY</span>
      </div>
      <div class="ml-5" style="background-color: #1a1d29; padding: 1.3rem; border-radius: 1.5rem; font-size: 0.8rem;">
        <table class="common-table" id="dephist_table">
          <thead>
          <tr>
            <th>Date</th>
            <th>symbol</th>
            <th>quantity</th>
            <th>status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let dephist of dephists">
            <td>{{dephist.date}}</td>
            <td>{{dephist.symbol}}</td>
            <td>{{dephist.quantity}}</td>
            <td>{{dephist.status}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
