/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/bootstrap-select/dist/css/bootstrap-select.css";
@import "../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css";

body {
  background-color: #2f3340;
}

html {
  scroll-behavior: smooth;
}
