<!--<div>-->
<img src="assets/img/bg/21.jpg" style="position: fixed; left: 0; top: 0; width: 100%;">
<!--</div>-->
<div style="z-index: 100">
  <div class="clearfix pb-2">
    <button class="btn btn-primary float-right btn-signin" style="position: relative;" (click)="goLogIn()">Sign in</button>
  </div>

  <div class="row no-gutters" style="margin-top: 7rem;">
    <div class="col-6 offset-3" style="text-align: center;">
      <div class="land-title font-weight-bold">Buy Sell Bitcoins Easily</div>
      <div class="land-subtitle">
        <span style="color: #ff5823;">EXCOINCIAL</span> is the fastest and easiest way to Buy and Sell Bitcoins. We
        guarantee fast transaction processing
        and the best bitcoin rates.
      </div>
    </div>
  </div>

  <div style="text-align: center; position: relative;">
    <button class="btn btn-outline-light mt-5" style="width: 14rem;" (click)="goSignUp()">Join Us</button>
  </div>

  <div id="video-part" class="row no-gutters land-video">
    <div class="col-4 offset-2">
      <div class="mb-3" style="color: #5c695e; font-size: 1.5rem;">Introduce</div>
      <div class="mb-1" style="color:#feffe9; font-size: 2rem;">What is Cryptocurrency?</div>
      <div style="color: #d1d1d1; font-size: 1.2rem;">
        A cryptocurrency is a digital or virtual currency designed to work as a medium of exchange. It uses cryptography
        to secure and verify transactions as well as to control the creation of new units of a particular
        cryptocurrency. Essentially, cryptocurrencies are limited entries in a database that no one can change unless
        specific conditions are fulfilled.
      </div>
    </div>
    <div class="col-6" style="text-align: center;">
      <iframe id="land-player" src="https://www.youtube.com/embed/T_eMqVfO3VY" frameborder="0">
      </iframe>
    </div>
  </div>
</div>
