.clearfix {
    overflow: auto;
}

.land-title {
  color: #f9b81e;
  font-size: 3.8rem;
}

.land-subtitle {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  opacity: 0.8;
  line-height: 1.2;
}

.btn-signin {
  margin-right: 9rem;
  margin-top: 4rem;
  width: 7rem;
}

.land-video {
  position: relative;
  margin-top: 33vh;
  background-color: #131b14;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#land-player {
  width: 40vw;
  height: 50vh;
}
