.setting-summary-container {
  // padding-top: 4rem;
  text-align: left;
  font-size: 12px;
  line-height: initial;
  color: #f2f3f8;
  background-color: #2f3340;
}
.summary-nav {
  float: left;
  width: 15%;
  padding: 34px 0 40px 28px;
}
.summary-content {
  float: right;
  width: calc(100% - 268px);
  padding: 20px;
  min-height: calc(100vh - 180px);
  border-left: 1px solid #515967;
}
.setting-summary-container .summary-nav h1 {
  text-transform: uppercase;
  margin: 0 0 30px;
  letter-spacing: .5px;
  color: rgba(255,255,255,.8);
  font-size: 24px;
}
.setting-summary-container .summary-nav ul {
  border-top: 1px solid #262c36;
}
.setting-summary-container .summary-nav ul li {
  border-bottom: 1px solid #262c36;
  padding: 9px 0 10px 20px;
  color: #f2f3f8;
  font-size: 16px;
  line-height: 17px;
  text-transform: uppercase;
  cursor: pointer;
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.side_bar li:hover {background: #333e4d;transform: scale(1.1);}

.shadow1-text {
  text-shadow: 0.2rem 0.2rem 0.3rem #f2f3f8;
  color: #f2f3f8!important;
}
