<div class="setting-summary-container clearfix">
    <nav class="summary-nav hidden-sm hidden-xs">
        <h1><span class="icon-chart"></span><span>settings</span></h1>
        <ul class="side_bar">
            <li *ngFor="let each of sidebar_menu; let i = index;" (click)="changeSidebar(i)">{{each}}</li>
        </ul>
    </nav>

    <div id="market_info_content" class="clearfix">
        <div class="summary-content" id="summary_content">
             <div class="clearfix" style="float: none; margin: 0 auto 16px auto;">
                <app-general *ngIf="cur_ == 0"></app-general>
                <app-whitelist *ngIf="cur_ == 1"></app-whitelist>
                <app-security *ngIf="cur_ == 2"></app-security>
                <app-apikeys *ngIf="cur_ == 3"></app-apikeys>
                <app-verification *ngIf="cur_ == 4"></app-verification>
              </div>
        </div>
    </div>
</div>
